# ignore node_modules
node_modules

# ignore Git files
.git
.gitignore
.dockerignore

# ignore logs
logs
npm-debug.log*

# ignore temp files
tmp
temp

# ignore test files
tests
__tests__
*.test.*

# ignore local configuration files
.env
.env.*.local
.env.local

# ignore output files
dist
build

# ignore docker-compose files
docker-compose*.yml
